.form-container-register {
  width: 400px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  display: none;
  z-index: 999;
  position: absolute;
}

.btn-close-reg-form {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: Roboto, sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
  text-align: center;
}

.form-container-register .form-field {
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: Roboto, sans-serif;
}

.form-container-register span {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

.form-container-register input {
  background: #f2f2f2;
}

.form-container-register .error {
  border: 2px solid #ffa4a4;
}

.form-container-register button {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

.form-container-register button:disabled {
  cursor: default;
}
  